<div>
  <%= render partial: 'heroSection' %>
  <%= render partial: 'typeSearch' %>
  <%= render partial: 'featured'%>
  <%= render partial: 'why-choose-us'%>
  
</div>
 
 <!-- 
  <div class=" max-w-screen-xl m-auto px-4 bg-green-50">
    <%= render partial: 'heroSection' %>
  </div>
  -->
